flows_barcode.json
[{"id":"694ef2c3.ce33ec","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"4549a45f.571bcc","type":"rpi-keyboard","z":"694ef2c3.ce33ec","name":"USB-HID入力","x":130,"y":80,"wires":[["180f1f82.703ca"]]},{"id":"2308241e.fbc0fc","type":"switch","z":"694ef2c3.ce33ec","name":"キーを押した時のデータのみ抽出","property":"action","propertyType":"msg","rules":[{"t":"cont","v":"down","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":500,"y":80,"wires":[["4deaedf8.386784"]]},{"id":"9521bbe7.2aef58","type":"join","z":"694ef2c3.ce33ec","name":"文字列結合","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":970,"y":80,"wires":[["26975da6.7c1892"]]},{"id":"4deaedf8.386784","type":"function","z":"694ef2c3.ce33ec","name":"キーナンバーto文字列","func":"//接続バーコードリーダセッティング configuration of barcode_reader\n//対応バーコードJAN,CODE39\n//チェックデジットを送信しない not send check dejit\n//スタートコードを送信しない not send check start_code\n//ストップコードを送信しない not send check stop_code\n//ターミネータは改行¥nを送信 send terminator as CRLF(\\n)\n\n//キーマップ定義 define keymap\nconst keymap = [\n    '','','1','2','3','4','5','6','7','8',\n    '9','0','-','^','\\b','\\t','q','w','e','r',\n    't','y','u','i','o','p','@','[','\\n','',\n    'a','s','d','f','g','h','j','k','l',';',\n    ':','','',']','z','x','c','v','b','n',\n    'm',',','.','/','','',' ','',''\n];\nconst keymap_shift = [\n    '','','!','\"','#','$','%','&',\"'\",'(',\n    ')','0','=','~','\\b','\\t','Q','W','E','R',\n    'T','Y','U','I','O','P','`','[','\\n','',\n    'A','S','D','F','G','H','J','K','L','+',\n    '*','','','}','Z','X','C','V','B','N',\n    'M','<','>','?','','',' ','',''\n];\n\n// 変数定義 define values\nlet keynum = msg.payload;\nlet keystr;\nlet f_shift = context.get(\"f_shift\")||0;\n\n//対応キーナンバー以外を検出したらエラーをkeystrにセットし、msg.completeをセット\nif(keynum > 60) {\n    keystr = 'error Unsupported barcodes';\n    msg.complete = true;\n//ターミネータを検出したらkeystrをnullにして、msg.completeをセット\n//when terminator\n} else if(keynum == 28) {\n    keystr = null;\n    msg.complete = true;\n//シフトキーを検出したら、keystrを空文字にして、シフトフラグをON\n} else if(keynum == 42) {\n    keystr = \"\";\n    context.set(\"f_shift\",1);    \n//対応するキーナンバーに対応を検索し、keystrにセットし、シフトフラッグをOFF\n} else {\n    if(f_shift){\n        keystr = keymap_shift[keynum];\n    } else {\n        keystr = keymap[keynum];\n    }\n    context.set(\"f_shift\",0);  \n}\n\nmsg.payload = keystr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":80,"wires":[["9521bbe7.2aef58"]]},{"id":"180f1f82.703ca","type":"delay","z":"694ef2c3.ce33ec","name":"遅延","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"20","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":80,"wires":[["2308241e.fbc0fc"]]},{"id":"26975da6.7c1892","type":"debug","z":"694ef2c3.ce33ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":140,"wires":[]},{"id":"7bf9f6fb.574298","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"772349c4.255b28","type":"rpi-keyboard","z":"7bf9f6fb.574298","name":"USB-HID入力","x":130,"y":60,"wires":[["41a6f303.e2cc0c"]]},{"id":"41a6f303.e2cc0c","type":"join","z":"7bf9f6fb.574298","name":"文字列結合","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":330,"y":60,"wires":[["eb0fc115.09d85"]]},{"id":"eb0fc115.09d85","type":"debug","z":"7bf9f6fb.574298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"bff8c82.0ef4d38","type":"comment","z":"7bf9f6fb.574298","name":"2sec timeout","info":"","x":330,"y":120,"wires":[]}]